

body {
    font-family: "Nunito", sans-serif;
}
.logo{
    background: url(img/hero-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: static;
}
.Flex {
    
    margin-top: 3px;
    font-weight: 700;
    font-size: 30px;
    color: #012970;
    font-family: "Nunito", sans-serif ;
    letter-spacing: 1px;
} 
.navbarclass  a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #013289;
    white-space: nowrap;
    transition: 0.3s;
}
.navbarclass a:hover, .navbarclass .active, .navbarclass .active:focus, .navbarclass li:hover>a {
    color: #4154f1;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #4154f1;
}

.nav-item  {
 margin-right: 15px;       

}
.text-white {
background-color: #4154f1;
}
.heading{
    
    font-family: "Nunito", sans-serif;
    margin-bottom: 0.5rem;
    font-weight: 900;
    line-height: 1.2;
    font-size: 2.5rem;
    color: #012970 ;
}

.para {
    
    font-family: "Nunito", sans-serif;
    color: #444444;
    margin: 15px 0 0 0;
    font-size: 26px;
}
.home {
    height: 600px;
  
}
 h3 {
    font-size: 14px;
    font-weight: 700;
    color: #4154f1;
    text-transform: uppercase;
}
 h2 {
    font-size: 24px;
    font-weight: 700;
    color: #012970;
    margin-top: 0;
    margin-bottom: 0.5rem;
}
 p {
    margin: 15px 0 30px 0;
    line-height: 24px;
}
.first {
padding-top: 20px;
}
.container {
    column-gap: 20px;
  }
  .bi-check::before {
  
  content: "\f26e";
  }
  .bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.features .feature-box i {
    line-height: 0;
    background: #ecf3ff;
    padding: 4px;
    margin-right: 10px;
    font-size: 24px;
    border-radius: 3px;
    transition: 0.3s;
}

 .box {
    padding: 40px 20px;
    background: #fff;
    text-align: center;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}
.price {
    font-size: 36px;
    color: #444444;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}
 .price span {
    color: #bababa;
    font-size: 16px;
    font-weight: 300;
}
.price sup {
    font-size: 20px;
    top: -15px;
    left: -3px;
}
.Featured img {
    padding: 30px 40px;
}
.Featured .img-fluid {
    max-width: 100%;
    height: auto;
}
 img, svg {
    vertical-align: middle;
}
*, ::after, ::before {
    box-sizing: border-box;
}
ul li {
    padding-bottom: 10px;
}
ul .na {
    color: #ccc;
    text-decoration: line-through;
}
ul li {
    padding-bottom: 10px;
}

li{
    list-style: none;
}
.btn-buy {
    display: inline-block;
    padding: 8px 40px 10px 40px;
    border-radius: 50px;
    color: #4154f1;
    transition: none;
    font-size: 16px;
    font-weight: 400;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    transition: 0.3s;
    border: 1px solid #4154f1;
}
a {
    color: #4154f1;
    text-decoration: none;
}
 .featured {
    width: 200px;
    position: absolute;
    top: 18px;
    right: -68px;
    transform: rotate(45deg);
    z-index: 1;
    font-size: 14px;
    padding: 1px 0 3px 0;
    background: #4154f1;
    color: #fff;
}
    .accordion-button {
        color: black;
        font-weight: 900;
    }
    .linav ul{
        justify-content: center;
        display: flex;
        flex-direction: row; 
    }
    .linav ul li {
       margin-top: 50px;
         margin-left: 20px;
    }
    .linav ul li a:hover , .liactive{
        color: #4154f1; 
        border: ridge blue;
        border-radius: 20px ;
         
    } 
      .linav ul li a {
       
    
    color: #444444;
         padding: 5px;}



.card{
    transition: all 0.3s;
}
.card:hover {
    transform: scale(1.1);
}
.custom-shape-divider-bottom-1690877540 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1690877540 svg {
    position: relative;
    display: block;
    width: calc(113% + 1.3px);
    height: 36px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1690877540 .shape-fill {
    fill: #FFFFFF;
}



 .info-box {
    color: #444444;
    background: #fafbff;
    padding: 10px;
}
*, .info-box::after, .info-box::before {
    box-sizing: border-box;
}


.contact h3 {
    color: #012970;
    font-weight: 900;
}
.footer-top {
    background: white url(/img/footer-bg.png) no-repeat right top;
    background-size: contain;
    border-top: 1px solid #e1ecff;
    border-bottom: 1px solid #e1ecff;
    padding: 60px 0 30px 0;
}
.footer-top .footer-info .logo span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #012970;
    font-family: "Nunito", sans-serif;
    margin-top: 3px;
}
.footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Nunito", sans-serif;
}
.footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #012970;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
}
.footer-links ul a {
    color: #013289;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}
.footer-top .footer-contact p {
    line-height: 26px;
}